body {
  font-family: cursive;
  text-align: center;
}

h1 {
  font-size: 70px;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

h2 {
  font-size: 38px;
}

.gold {
  text-shadow: 1px 1px 2px gold, 0 0 1em gold, 0 0 0.2em gold;
}

.green {
  text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.2em green;
}
